*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

form{
    width: 380px;
    background-color: white;
    padding: 35px 30px;
    border-radius: 18px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    gap: 18px;

    animation: fade 0.4s ease;
}
.active{
    display: block;
}

i{
    text-align: center;
}

form h2{
    text-align: center;
    color: #333;
}

input,select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

input:focus{
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108,99,255,0.5);
}

button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #6c63ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #574bdb;
}